DATABASE_URL=postgresql://admin:admin123@localhost:5432/limpieza_db

SECRET_KEY=cambia-esto-en-produccion-clave-muy-secreta-larga
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

WHATSAPP_NEGOCIO=595991000000
ALIAS_PAGO=0991-000000
NOMBRE_NEGOCIO=Distribuidora Limpieza S.A.
